<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="/static/css/style.css"> </head>
<body>
    <div class="login-container">
        <h2>Redefinir sua Senha</h2>
        <p>Digite seu endereço de e-mail abaixo, e nós enviaremos as instruções para criar uma nova senha.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar E-mail de Redefinição</button>
        </form>
    </div>
</body>
</html>