{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - App Finanças</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
    <div class="login-container">
        <h2>Crie sua Conta</h2>
        <form id="register-form" class="login-form" onsubmit="return false;">
            <input type="text" id="register-username" placeholder="Nome de usuário" required>
            <input type="email" id="register-email" placeholder="Seu melhor e-mail" required>
            <input type="password" id="register-password" placeholder="Crie uma senha" required>
            <input type="password" id="register-password2" placeholder="Confirme sua senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <p class="auth-link">Já tem uma conta? <a href="index.html">Faça o login</a></p>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>