{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail Enviado</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Verifique seu E-mail</h2>
        <p>Nós enviamos um e-mail com as instruções para redefinir sua senha. Se um e-mail não chegar em breve, verifique sua pasta de spam.</p>
        <a href="{% url 'login-page' %}">Voltar para o Login</a>
    </div>
</body>
</html>