{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digite a Nova Senha</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login-container">
        {% if validlink %}
            <h2>Crie sua Nova Senha</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar Nova Senha</button>
            </form>
        {% else %}
            <h2>Link Inválido</h2>
            <p>O link para redefinição de senha é inválido, provavelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
            <a href="{% url 'password_reset' %}">Solicitar Nova Redefinição</a>
        {% endif %}
    </div>
</body>
</html>